In [15]:
import pandas as pd
import joblib

In [2]:
df = pd.read_csv('datasets/homeprices.csv')

In [3]:
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [4]:
beadroom_mean = df['bedrooms'].mean()

In [5]:
print(beadroom_mean)

4.2

In [6]:
df['bedrooms'] = df['bedrooms'].fillna(beadroom_mean)

In [7]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.2   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
reg = LinearRegression()

In [11]:
reg.fit(df[['area', 'bedrooms', 'age']], df['price'])

LinearRegression()

In [12]:
reg.coef_

array([  116.66950551, 18756.28806982, -3675.75111708])

In [13]:
reg.intercept_

231586.00639409182

In [14]:
reg.predict([[3000, 3, 40]])

array([490833.34243748])

In [16]:
filename = 'mlmodel.sav'

In [17]:
joblib.dump(reg, filename)

['mlmodel.sav']